<!DOCTYPE html>
<html>
  <head>
    <title>Jsauto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    
    <% if content_for?(:head) %>
      <%= yield :head %>
    <% end %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="main-header">
      <%= link_to root_path, class: "logo-link" do %>
        <%= image_tag "logo.png", height: 60, alt: "JSAuto Logo" %>
      <% end %>
      <div class="logout-button-container">
        <%= button_to destroy_user_session_path, method: :delete, class: "btn-logout" do %>
          <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
        <% end %>
      </div>
    </header>

    <main class="main-content">
      <% if notice || alert %>
        <div class="flash-messages">
          <% if notice %>
            <div class="notice"><%= notice %></div>
          <% end %>
          <% if alert %>
            <div class="alert"><%= alert %></div>
          <% end %>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
